<ion-view view="Email">
  <ion-content>
    <div class="row">
        <button class="button button-clear button-positive icon-left ion-plus-circled">
          To Do
        </button>
        <button class="button button-clear button-positive icon-left ion-star">
          Important
        </button>
        <button class="button button-clear button-positive icon-left ion-trash-b">
          Delete
        </button>
    </div>
    <div class="row padding">
      <h1>Title of email here</h1>
    </div>
    <div class="row padding">
      <h4>Sender name or email address here</h4>
    </div>
    <div class="row padding">
      <p>Pour-over organic sriracha microdosing, mustache pop-up fanny pack narwhal blog art party. Kombucha cold-pressed sustainable, chartreuse plaid 3 wolf moon yr man braid sartorial venmo neutra cray biodiesel. Drinking vinegar banh mi keytar, banjo taxidermy plaid listicle tacos aesthetic distillery. Gluten-free semiotics iPhone pickled. VHS synth cornhole food truck polaroid, jean shorts readymade vice master cleanse brooklyn echo park organic. Wolf dreamcatcher tote bag hoodie VHS, occupy food truck cronut semiotics tousled vinyl. Street art cred beard selfies.</p>
    </div>
    <div class="button-bar padding">
      <button class="button button-positive icon-left ion-reply">
        Reply
      </button>
      <button class="button button-positive icon-right ion-arrow-right-a">
        Forward
      </button>
    </div>
  </ion-content>
</ion-view>
