<ion-view view-title="Inbox">
  <ion-nav-buttons side="secondary">
    <button class="icon ion-ios-search" ng-click="doSomething()">
    </button>
    <button class="icon ion-ios-arrow-down" ng-click="doSomething()">
    </button>
        <button class="icon ion-ios-compose-outline" ng-click="doSomething()">
        </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="monster-section">
      <div class="monster-container">
        <img id="monster" src="../img/monsters/dragon/dragon-flying.gif" />
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="email in emails" href="#/app/emails/{{email.id}}">
        <!-- <ion-checkbox ng-model="filter.red" class="checkbox-positive"> -->
        <!-- </ion-checkbox> -->
          <div class="single-email-preview">
            <h2>{{email.sender}}</h2>
            <p>{{email.title}}</p>
            <p>{{email.body}}</p>
          </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
