<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <!-- Begin Login Wrapper -->
    <div class="login-page-wrapper">
      <div class="login-buttons-wrapper">
        <div class="mm-logo">
          <h2>Mail Monsters</h2>
        </div>
        <div class="login-buttons">
          <div class="row drop-box">
            <div class="col col-top col-80 col-offset-10 drop-box">
              <button class="button button-block button-light icon-left ion-social-google">
                <strong>Login with Gmail</strong>
              </button>
            </div>
          </div>
          <div class="row drop-box">
            <div class="col col-center col-80 col-offset-10 drop-box">
              <button class="button button-block button-light icon-left ion-social-windows">
                <strong>Login with Hotmail</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
  <!-- End Login Wrapper -->
  </div>
  </ion-content>
  <!-- Original code hasn't been modified -->
  <!-- <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content> -->
  <!-- Original code hasn't been modified -->
</ion-modal-view>
